@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Epilogue';
  src: url('../src/assets/Epilogue-VariableFont_wght.ttf');
}

html {
  height: 100vh;
}

:root {
  font-family: 'Epilogue';
  color: #010602;
  box-sizing: border-box;
}

.bg-pink {
  background: #f0cacd;
}

.bg-yellow {
  background: #f2db49;
}

.bg-white {
  background: #feffff;
}

.box-shadow {
  box-shadow: 4px 4px;
}

.about.active {
  color: #32a346;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.experience.active {
  color: #905be6;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact.active {
  color: #4fa6e1;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.HELP {
  border: 1px solid red;
}

.help {
  border: 1px solid green;
}