@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Epilogue';
  src: url('src/assets/Epilogue-VariableFont_wght.ttf');
}

:root {
  font-family: 'Epilogue';
  color: #010602;
}

.bg-pink {
  background: #f0cacd;
}

.text-pink {
  color: #f0cacd;
}

.bg-yellow {
  background: #f2db49;
}

.text-yellow {
  color: #f2db49;
}

.bg-white {
  background: #feffff;
}

.font-white {
  color: #feffff;
}

.bg-green {
  background: #52c167;
}

.text-green {
  color: #52c167;
}

.box-shadow {
  box-shadow: 4px 4px;
}

.highlight-container, .highlight {
  position: relative;
}

.highlight-container {
  display: inline-block;
}

.highlight-container:before {
  content: "";
  display: block;
  height: 90%;
  width: 100%;
  position: absolute;
  background: #f2db49;
  transform: rotate(1deg);
  border-radius: 20% 25% 20% 24%;
}

.HELP {
  border: 1px solid red;
}